<h1>Search for Titles</h1>
<form name="searchForm" class="row" ng-submit="filterByName()">
  <div class="col-lg-4">
    <div class="input-group">
      <input name="search" class="form-control" type="text" ng-model="searchText" ng-required="true" />
      <span class="input-group-btn">
        <button 
          class="btn btn-primary" 
          type="submit"
          ng-disabled="searchForm.$invalid">
          Search
        </button>
    </div>
  </div>
</form>

<h3 ng-show="loaded">Results</h3>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="title in titles">
    <a href='#/title/{{title.TitleId}}'>{{title.TitleName}}</a>
  </li>
</ul>
<div ng-show="loaded && !titles.length">
    No results found.
</div>
